body{
    background-color: red;
.container{
    h1{
        text-align: center;
        
    }
    hr{
        // color:black;
        border: 2px solid grey;
    }
    div{
        display: flex;
        justify-content: center;
    }
    button{
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        padding: 1.5em;
        border-radius: 5px;
        border: none;
    }
}
    }
